@font-face {
  src: url(/inter.ttf);
  font-family: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100vw;
  height: 100vh;
  font-size: calc(12px + 0.25vw);
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f6f6f6;
  color: #333;
  font: inherit;
}
