.main {
  font-size: clamp(1rem, 1.25rem, 4vw);
  padding: 1.25em;
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto;
}

.nav {
  opacity: 0.6;
  font-size: 0.9em;
  margin-bottom: 2.75em;
  line-height: 2;
}
.nav a {
  color: inherit;
  font-family: ui-monospace, monospace;
}

.header {
  margin-bottom: 2.75em;
}
.header .title {
  font-size: 1.75em;
  color: #333;
  font-weight: 900;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
  margin-bottom: 0.3em;
  line-height: 1.25;
}
.header .date {
  opacity: 0.6;
}

.content p {
  line-height: 1.75;
  color: #000000bb;
  text-rendering: optimizeLegibility;
  word-spacing: 0.05em;
  margin-bottom: 1.6em;
}
